{% extends "base.html" %}

{% block content %}
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?">
    </script>
    <script type="text/javascript"
      src="./stephanie.json">
    </script>
    <script type="text/javascript"
      src="./maria.json">
    </script>
    
    <script type="text/javascript">
      var map;
      function initialize() {
        var latitude = stephanieData.gpsEntries[0].latitude;
        var longitude = stephanieData.gpsEntries[0].longitude;
        var mapOptions = {
          center: { lat: latitude, lng: longitude},
          zoom: 16
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script type="text/javascript">

      function startAnimating() {
      
          var lat = stephanieData.gpsEntries[0].latitude;
          var lng = stephanieData.gpsEntries[0].longitude;
          var myLatlng = new google.maps.LatLng(lat,lng);
          var mapOptions = {
            zoom: 16,
            center: myLatlng
          }

          var markerSteph = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: 'Stephanie gps'
          });
          
          var lat = maria.gpsEntries[0].latitude;
          var lng = maria.gpsEntries[0].longitude;
          var latlng = new google.maps.LatLng(lat,lng);
          var markerMaria = new google.maps.Marker({
              position: latlng,
              map: map,
              title: 'Maria gps'
          });
          markerMaria.setIcon("http://maps.google.com/mapfiles/ms/icons/blue-dot.png");
          markerSteph.setIcon("http://maps.google.com/mapfiles/ms/icons/red-dot.png");
          var stephTimeStart = stephanieData.gpsEntries[0].timestamp;
          var mariaTimeStart = maria.gpsEntries[0].timestamp;
          if (stephTimeStart < mariaTimeStart) {
            moveMarkerSteph(0, markerSteph);
            setTimeout(function () {moveMarkerMaria(0, markerMaria);}, (mariaTimeStart - stephTimeStart)/100);
          } else {
            moveMarkerMaria(0, markerMaria);
            setTimeout(function () {moveMarkerSteph(0, markerSteph);}, (stephTimeStart - moveMarkerSteph)/100);
          }
          
              
      }
      
        function drawPathSteph() {
            var flightPlanCoordinates = [];
            for (var i = 0; i < stephanieData.gpsEntries.length; i++) {
                flightPlanCoordinates.push(new google.maps.LatLng(stephanieData.gpsEntries[i].latitude, stephanieData.gpsEntries[i].longitude));
            }
            var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
            });

            flightPath.setMap(map);
        }
        
        function drawPathMaria() {
            var flightPlanCoordinates = [];
            for (var i = 0; i < maria.gpsEntries.length; i++) {
                flightPlanCoordinates.push(new google.maps.LatLng(maria.gpsEntries[i].latitude, maria.gpsEntries[i].longitude));
            }
            var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#0000FF',
            strokeOpacity: 1.0,
            strokeWeight: 2
            });

            flightPath.setMap(map);
        }
      
      function moveMarkerSteph(i, marker) {
              var lat = stephanieData.gpsEntries[i].latitude;
              var lng = stephanieData.gpsEntries[i].longitude;
              var position = new google.maps.LatLng(lat, lng);
              marker.setPosition(position);
              map.panTo(position);
              if (i < stephanieData.gpsEntries.length - 1) {
                var timeout = stephanieData.gpsEntries[i+1].timestamp - stephanieData.gpsEntries[i].timestamp;
                setTimeout(function () { moveMarkerSteph(i+1, marker); }, timeout/100);
            }
      }
      
      function moveMarkerMaria(i, marker) {
              var lat = maria.gpsEntries[i].latitude;
              var lng = maria.gpsEntries[i].longitude;
              var position = new google.maps.LatLng(lat, lng);
              marker.setPosition(position);
              map.panTo(position);
              if (i < maria.gpsEntries.length - 1) {
                var timeout = maria.gpsEntries[i+1].timestamp - maria.gpsEntries[i].timestamp;
                setTimeout(function () { moveMarkerMaria(i+1, marker); }, timeout/100);
            }
      }
        
    </script>
<div id="map-canvas"></div>
{% endblock content %}