{% extends "base.html" %}
{% block head %}
<title>My performance</title>
{% endblock %}
{% block scripts %}
<script src="/static/js/graph_utils.js"></script>

<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      function getMyData() {
        getJSONResponse('/dashboard/session', initialiseGraphs);
      }
      var myBarometerData;
      var myVerticalVelocityDataRows;

      function initialiseGraphs(json_data) {
        json_data = sort_data(json_data);
        myBarometerData = json_data["barometerEntries"];
        myBarometerData = averageBarometerValues(myBarometerData, 3);
        myVerticalVelocityDataRows = calculateVerticalVelocity(myBarometerData, 50);
        drawBarometerChart();
        drawVerticalVelocityChart();
      }

      function migrateToDataTable(myData, types, values) {
        var dataTable = new google.visualization.DataTable();
        var type;
        for (var i = 0; i < values.length; i++) {
          if (i >= types.length)
            type = types[types.length - 1];
          else
             type = types[i];
          dataTable.addColumn(type, values[i]);  
        }
        
        var firstTimestamp = myData[0].timestamp;
        var rows = [];
        for (var i = 0; i < myData.length; i++) {
          rows.push([(myData[i].timestamp - firstTimestamp)/1000, myData[i].altitude]);
        }

        dataTable.addRows(rows);

        return dataTable;
      }

      function drawBarometerChart() {
          var data = migrateToDataTable(myBarometerData, ['number'], ['Time', 'Altitude']);
          var options = {
            title: 'Altitude',
            curveType: 'function',
            legend: { position: 'bottom' }
          };

          var chart = new google.visualization.LineChart(document.getElementById('barometer_chart'));

          chart.draw(data, options);
        
      }

      function drawVerticalVelocityChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('number', 'Time (s)');
          data.addColumn('number', 'V(m/s)');
          data.addRows(myVerticalVelocityDataRows);
          var options = {
            title: 'Vertical velocity',
            curveType: 'function',
            legend: { position: 'bottom' }
          };

          var chart = new google.visualization.LineChart(document.getElementById('velocity_chart'));

          chart.draw(data, options);
          
      }

      getMyData();
              
    </script>
{% endblock %}

  {% block content %}
    <div class="row fullWidth">
      <div class="large-6 medium-12 columns">
        <div id="barometer_chart" style="width: 100%; height: 500px"></div>
      </div>
      <div class="large-6 medium-12 columns">
        <div id="velocity_chart" style="width: 100%; height: 500px"></div>
      </div>
    </div>
  {% endblock %}