{% extends "base.html" %}
{% block title %}
Register
{% endblock %}
{% block content %}
<form>
  <div id='registration-form-holder' class="row collapse">
	  <div class="row">
	    <div class="large-12 columns">
	      <div id='step-1-holder' class="row collapse">
	        <div id="invitation-token-holder" class="small-10 columns">
	          <input type="text" placeholder="Invitation code">
	        </div>
	        <div id="invitation-apply" class="small-2 columns">
	          <a href="#" class="button postfix">Go</a>
	        </div>
	      </div>
	      <div id='step-2-holder' class="row collapse"></div>
	      <div id='step-3-holder' class="row collapse"></div>
	      <div id='step-4-holder' class="row collapse"></div>
	      <div id='step-5-holder' class="row collapse"></div>

	    </div>
	  </div>
  </div>
</form>

<script type="text/javascript" src="/static/js/invites.js"></script>
{% endblock %}