{% extends "base.html" %}
{% block head %}
<title>My dashboard</title>
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="/static/css/progress_bar.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/static/js/map_utils.js"></script>
    <script src="/static/js/graph_utils.js"></script>
    <script src="/static/js/geo.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
    <script type="text/html" id="session-template">
      <div class="small-12 columns">
        <div class="panel">
          <h3 class="session_id"><a data-bind="{attr: {href: '#' + number}, text: '#' + number}"></a></h3>
          <p data-bind="text: date"></p>
        </div>
      </div>
    </script>
    <script type="text/html" id="session-details-template">
      <div class="large-6 medium-12 columns logbook-entry" data-bind="css: {leftalign: number%2==0}">
        <div class="large-12 columns" data-bind="attr: {id: number}" >
          <div class="small-12 columns">
            <h3 class="session_id"><a data-bind="{attr: {href: '/dashboard/logbook/' + number}, text: '#' + number}"></a></h3>
            <p class="datetime" data-bind="text: date"></p>
          </div>
        </div>
        <div class="logbook-details large-12 columns" >
          <div class="small-12 columns">
            <p>Free fall time: <span data-bind="{text: metrics.freefalltime}"></span></p>
          </div>
          <div class="small-12 columns">
            <p>Exit altitude: <span data-bind="{text: metrics.exitAltitude}"></span></p>
          </div>
          <div class="small-12 columns">
            <p>Deployment altitude: <span data-bind="{text: metrics.deploymentAltitude}"></span></p>
          </div>
          <div class="small-12 columns">
            <p>Max velocity: <span data-bind="{text: metrics.maxVelocity}"></span></p>
          </div>
          <div class="small-12 columns">
            <p>Location: <span data-bind="attr: {id:'session-location-'+number}"></span></p>
          </div>
        </div>
      </div>
    </script>
    <script type="text/javascript">

      function getMyData() {
        getJSONResponse('/dashboard/sessions', initialize);
      }

      var map;
      var myData;
      function initialize(data) {
        
      }
      google.maps.event.addDomListener(window, 'load', getMyData);
    </script>
    <script type="text/javascript">

      function SkydivingSession(date, number, session_calculated_data, location) {
        var self = this;
        self.date = date;
        self.number = number;
        self.metrics = session_calculated_data;
        self.location = location;
      }

      function initialize(session_data) {
        $.each(session_data, function(index, session) {
          session_data[index] = sort_data(session);
        });
        var sessions = [];
        for (var i = session_data.length - 1; i >= 0; i--) {
          var session = session_data[i];
          var date = new Date(session.gpsEntries[0].timestamp)
          var metrics = calculate_metrics(session);
          var location = {lat:session.gpsEntries[0].latitude, lng: session.gpsEntries[0].longitude};
          sessions.push(new SkydivingSession(date, i, metrics, location));
        }

        prepareUI(sessions);
      }

      function prepareUI(sessions) {
         ko.applyBindings({"sessions":sessions});
         for (var i = 0; i < sessions.length; i++) {
          getLocationDetails(sessions[i].location.lat, sessions[i].location.lng, $('#session-location-'+i));
         }
      }
        
    </script>
{% endblock %}
{% block content %}
    
<div class="row fullHeight fullWidth">
  <div class="medium-8 small-8 columns fullHeight">
    <div id="session-logbook">
      <div class="row">
        <div data-bind="template: { name: 'session-details-template', foreach: sessions }">
        </div>
      </div>
    </div>
  </div>
    <div class="medium-4 small-4 columns fullHeight">
       
       <div id="session-list" class="fullHeight">
          <div class="small-12 columns">
            <h3>My past sessions</h3>
          </div>
          <hr />
          <div class="row" data-bind="template: { name: 'session-template', foreach: sessions }">

          </div> 
       </div>
    </div>
 </div>

<div id="dialog" title="Share your session" style="display: none">
  <p id="link-share" style="color: black"></p>
</div>
{% endblock content %}