{% extends "base.html" %}

{% block title %}
Change password
{% endblock %}

{% block content %}

<div class="row">
	<div class="small-12 columns">
		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

		<form action="" method="post">{% csrf_token %}
		{{ form.new_password1.errors }}
		<p class="aligned wide"><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</p>
		{{ form.new_password2.errors }}
		<p class="aligned wide"><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
		<p>
			<a href="#" class="button" onclick="$('form#login').submit();">Change password</a>	
		</p>
		</form>
	</div>
</div>

{% endblock %}