#status-image {
    max-width: 64px;
    max-height: 64px;
    height: 100%;
    width: 100%;

}

#control-panel h2, #control-panel h3, #control-panel p {
    color: white;
}


.centeredImage
{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

i.step {
    padding-right: 20px;
}

i.step.size-24 {
    font-size: 24px !important;
}

i.step.size-24 {
    font-size: 24px !important;
}
i.fi-branch:before {
    content: "\f126";
}

i.fi-branch {
    font-style: normal;
}
