{% csrf_token %}
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<style type="text/css">
      		#control-panel, #session-list {background: url('/static/img/belt_texture.png'); background-size: 20%;}
      		#map-canvas, .fullHeight {height: 100%;}
      		.fullWidth {margin: 0 !important; max-width: 100% !important}
    	</style>
	    <link rel="stylesheet" href="/static/css/sdc.css" />
	    <link rel="stylesheet" href="/static/fonts/foundation-icons.css" />
	    <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
		<meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="/static/js/sdc_math.js"></script>
		<script src="/static/js/knockout.js"></script>
		<script src="/static/js/common.js"></script>
    	<link rel="stylesheet" href="/static/sidr/stylesheets/jquery.sidr.dark.css">

		<title>{% block title %}Skydiving Companion{% endblock %}</title>

	    <title>Foundation | Welcome</title>
	    <link rel="stylesheet" href="/static/css/foundation.css" />
	    <script src="/static/js/vendor/modernizr.js"></script>
	    {% block scripts%}

	    {% endblock %}
	</head>
    
    <body>
	    <nav class="top-bar" data-topbar role="navigation">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="/dashboard">Dashboard</a></h1>
		    </li>
		     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	         <li class="toggle-topbar menu-icon"><a id="main-menu" href="#main-sidr"><span></span></a></li>

		  </ul>

		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
		    <ul class="right">
              <li class="active"><a href="/account">Welcome {{ user.username }}</a></li>
		    </ul>

		    <!-- Left Nav Section -->
		    <ul class="left">
		      <li><a href="/dashboard/logbook">Logbook</a></li>
		    </ul>
		    <ul class="left">
		      <li><a href="/dashboard/apiqr	">API</a></li>
		    </ul>
		  </section>
		</nav>
	<div id="main-sidr">
      <ul>
          <li><a href="/dashboard/logbook">Logbook</a></li>
          <li><a href="/dashboard/apiqr">API</a></li>
          <li><a href="/account">Account</a></li>
      </ul>

	</div>
	<br />
	<script type="text/javascript" src="/static/sidr/jquery.sidr.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		   $('#main-menu').sidr({
		   	name: 'main-sidr',
		   	side:'left'
		   });

			$(window).swipe( { swipeLeft:menuSwipe, allowPageScroll:"vertical"} );
			$(window).swipe( { swipeRight:menuSwipe, allowPageScroll:"vertical"} );

			$(window).swipe( { swipeStatus:menuSwipe, allowPageScroll:"vertical" } );

    		//Generic swipe handler for all directions
	        function menuSwipe(event, direction, distance, duration, fingerCount, fingerData) {
	          if (direction == "right") {
		          $.sidr('open', 'main-sidr');

	          } else if (direction == "left") {
		          $.sidr('close', 'main-sidr');

	          } 
	        }
	      	
		});
	</script> 
    {% block content %}{% endblock %}
    </body>
</html>