{% extends "base.html" %}
{% block head %}
<title>My dashboard</title>
{% endblock %}
{% block scripts %}


    <link rel="stylesheet" href="/static/css/progress_bar.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="/static/js/map_utils.js"></script>
    <script src="/static/js/graph_utils.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
    <script type="text/javascript" src="/static/js/dashboard.js"></script>
{% endblock %}
{% block content %}
    
<div class="row fullHeight fullWidth">
  <div class="medium-12 columns fullHeight">
    <a style="float: right; margin-left:10px;" id="simple-menu" href="#map-menu"><i class="hide-for-small-only fi-list size-72 noPadding black hoverable"></i>
    <i class="show-for-small-only fi-list size-36 noPadding black hoverable"></i></a>

    <div id="map-canvas"></div>
  </div>
</div>
<div id="map-menu" class="medium-1 columns">
      <div class="row">
        <div class="small-12 columns">
          <ul>
              <li><a id="session-path-button" href="#">Draw path</a></li>
              <li><a id="animation-button" href="#">Show animation</a></li>
              <li><a href="/dashboard/graphs">Charts</a></li>
              <li><a id="real-speed-button" href="#">Real time animation</a></li>
              <li><a id="fast-forward-button" href="#">Fast forward animation</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <p class="centeredImage"><img id="status-image" /></p>
        </div>
      </div>

</div>
<div id="dialog" title="Share your session" style="display: none">
  <p id="link-share" style="color: black"></p>
</div>

{% endblock content %}