{% extends "base.html" %}
{% block head %}
<title>My dashboard</title>
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="/static/css/progress_bar.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/static/js/map_utils.js"></script>
    <script src="/static/js/graph_utils.js"></script>
    <script src="/static/js/geo.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
    <script type="text/html" id="session-template">
      <div class="small-12 columns">
        <div class="panel">
          <h3 class="session_id"><a data-bind="{attr: {href: '#' + number()}, text: '#' + number()}"></a></h3>
          <p data-bind="text: date"></p>
        </div>
      </div>
    </script>
    <script type="text/html" id="session-template-small">
        <ul>
          <li><a data-bind="click: $parent.navigateTo, text: '#' + date()"></a></li>
        </ul>
    </script>
    <script type="text/html" id="session-details-template">
      <div class="large-6 medium-12 columns logbook-entry" data-bind="css: {leftalign: number%2==0}">
        <div class="large-12 columns" data-bind="attr: {id: number()}" >
          <div class="small-12 columns">
            <h3 class="session_id"><a data-bind="{attr: {href: '/dashboard/logbook/' + number()}, text: '#' + number()}"></a></h3>
            <p class="datetime" data-bind="text: date"></p>
          </div>
        </div>
        <div class="logbook-details large-12 columns" >
          <div class="small-12 columns">
            <p>Free fall time: <span data-bind="{text: freefalltime() + 's'}"></span></p>
          </div>
          <div class="small-12 columns">
            <p>Exit altitude: <span data-bind="{text: exitAltitude() + 'm'}"></span></p>
          </div>
          <div class="small-12 columns">
            <p>Deployment altitude: <span data-bind="{text: deploymentAltitude() + 'm'}"></span></p>
          </div>
          <div class="small-12 columns">
            <p>Max velocity: <span data-bind="{text: Math.abs(maxVelocity()*60*60/1000).toFixed(2) + 'km/h'}"></span></p>
          </div>
          <div class="small-12 columns">
            <p>Location: <span data-bind="attr: {id:'session-location-'+number()}, text: location_name"></span></p>
          </div>
          <div class="small-12 columns">
            <textarea placeholder="Notes" data-bind="value: notes"></textarea>
          </div>
          <div class="small-12 columns">
            <div id="share-session-button" class="medium-6 small-12 columns medium semi-round button" data-bind="click: save"><i class="step fi-save size-16"></i>Save</div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/javascript" src="/static/js/logbook.js"></script>
    
{% endblock %}
{% block content %}


<div class="row fullHeight fullWidth">
  <div class="medium-8 small-12 columns fullHeight">
    <div id="session-logbook">
      <div class="row">
        <div data-bind="template: { name: 'session-details-template', foreach: sessions }">
        </div>

      </div>
    </div>
  </div>
    <div class="medium-4 columns fullHeight hide-for-small-only">
       
       <div id="session-list" class="fullHeight">
          <div class="small-12 columns">
            <h3>My past sessions</h3>
          </div>
          <hr />
          <div class="row" data-bind="template: { name: 'session-template', foreach: sessions }">

          </div>
       </div>
    </div>
 </div>
<div id="session-menu" class="row" data-bind="template: { name: 'session-template-small', foreach: sessions }">

</div> 
<div id="dialog" title="Share your session" style="display: none">
  <p id="link-share" style="color: black"></p>
</div>
   
 <div style="float: left; position: absolute; top:50%; display: inline-block" class="show-only-for-small">
  <a id="session-sidr" href="#session-menu"><i class="fi-list size-64 black smooth"></i></a> 
</div>    
<script>

</script>
{% endblock content %}