{% extends "base.html" %}
{% block title %}
Account management
{% endblock %}
{% block content %}
  <div class="row fullWidth">
    <div class="small-12 columns">
        <fieldset class="module aligned wide">
            <div class=form-row>
                  <a style="position: relative; left:12%"href="/logout" class="button">Logout</a>
            </div>
            <div class="form-row">
                  <a style="position: relative; left:12%"href="/change-password" class="button">Change Password</a>
            </div>
        </fieldset>
  </div>
</div>
{% endblock %}